.html-tags{
    /* outline: 3px solid black; */
    /* background-color: black; */
}

 /* @media (min-width: 1400px){
    .sample{
        width: 1320px;
        background-color: red;
    }
}
@media (min-width:1200px){
    .sample{
        width: 1140px;
        background-color: green;
    }
}
@media (min-width:760px){
    .sample{
        width: 720px;
        background-color: blue;
    }
 }
 @media (min-width:576px) {
    .sample{
        width: 540px;
        background-color: purple;
    }
 } */
/* .sample{
    width:100%;
} */

/* @media (min-width:576px) {
    .sample{
        width: 540px;
        background-color: purple;
    }
 }
 @media (min-width:760px){
    .sample{
        width: 720px;
        background-color: blue;
    }
 }
 @media (min-width:1200px){
    .sample{
        width: 1140px;
        background-color: green;
    }
}
@media (min-width: 1400px){
    .sample{
        width: 1320px;
        background-color: red;
    }
} */
/* .sample{
    width:100%;
} */
    